@model Nestor.UI.Models.ArticleModel

@{
    ViewBag.Title = Model.Article.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">主页</a></li>
    <li><a href="@Url.Action("Index", new { controller = "Column", id = Model.Article.ColumnId })">@Model.Article.Column.Title</a></li>
    <li class="active">@Model.Article.Title</li>
</ul>

<div class="row margin-bottom-40">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div id="article-title">
                    <h1>@Model.Article.Title</h1>
                </div>
            </div>
        </div>

        <div class="content-page" id="article-content">
            <div class="row">
                <div class="col-md-8 blog-item">
                    <ul class="blog-info">
                        <li><i class="fa fa-user"></i> By @Model.Article.Author</li>
                        <li><i class="fa fa-calendar"></i> @Model.Article.PublishDate.ToDateString()</li>
                        <li><i class="fa fa-comments"></i> @Model.Article.ReadCount</li>
                    </ul>
                    @if (Model.Article.Summary != "")
                    {
                        <blockquote style="text-indent:2em;">
                            @Model.Article.Summary
                        </blockquote>
                    }

                    <div id="main-content">
                        @Html.Raw(Model.Article.MainContent)
                    </div>

                    <hr />
                </div>
                <div class="col-md-4 blog-sidebar">
                    <!-- BEGIN RECENT NEWS -->
                    <div id="recent-news">
                        <h2 class="font-blue-steel">近期新闻</h2>
                        <div class="margin-bottom-10">                            
                            <ul class="list-group" id="recent-list">
                                @foreach (var item in Model.Recents)
                                {
                                    <li class="list-group-item">
                                        <span class="fa fa-arrow-circle-right"></span>
                                        <a href="/Article/@item.Id" title="@item.Title">@item.Title</a>
                                        <i class="pull-right">@item.PublishDate.ToDateString()</i>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>                    
                    <!-- END RECENT NEWS -->

                   @Html.Action("Recommend", new { controller = "Article", count = 10 })
                </div>
            </div>
        </div>
    </div>
</div>

