@model Nestor.UI.Models.TopColumnModel

@{
    ViewBag.Title = Model.Column.Title;    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section bars {
    <div class="column-bar">
        <div class="container">
            <div class="page-title">
                <h1><span class="fa fa-tree" style="font-size:24px;"></span> @Model.Column.Title <small>@Model.Column.Remark</small></h1>
            </div>
        </div>
    </div>
}

<ul class="breadcrumb">
    <li><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">主页</a></li>    
    <li class="active">@Model.Column.Title</li>
</ul>

<div class="row margin-bottom-40">
    <div class="col-md-12">
        <div class="content-page" id="column-content">
            <div class="row" style="padding-top:10px;">
                <div class="col-md-8">
                    @foreach (var child in Model.Children)
                    {
                        <table class="table table-hover table-article">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-bars" style="font-size:16px;"></i>&nbsp; @child.Title
                                    </th>
                                    <th style="width:40px;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="2"><i class="fa fa-arrow-circle-o-right"></i>&nbsp;<a href="/Column/@child.Id">更多</a></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in child.Articles.OrderByDescending(r => r.PublishDate).Take(5))
                                {
                                    <tr>
                                        <td>
                                            <span class="fa fa-angle-double-right"></span> <a href="@Url.Action("Index", new { controller = "Article", id = item.Id })">@item.Title</a>
                                        </td>
                                        <td class="text-right">
                                            @item.PublishDate.ToDateString()
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                        <hr />
                    }

                </div>

                <div class="col-md-4 blog-sidebar">
                    @if (Model.Column.IsAuth)
                    {
                        @Html.Action("Info", "Account")
                    }

                    <div id="sibling-column">
                        <h2 class="font-blue-hoki"><i class="fa fa-ticket" style="font-size:25px;"></i>&nbsp;@Model.Column.Title</h2>
                        <ul class="nav sidebar-categories margin-bottom-40">
                            @foreach (var item in Model.Children)
                            {
                                <li @(item.Id == Model.Column.Id ? "class=active" : "")>
                                    <a href="/Column/@item.Id">
                                        @item.Title
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            nestor.topNavActive('@Model.Column.Id');
        });
    </script>
}