@model Nestor.UI.Models.TopColumnModel

@{
    ViewBag.Title = Model.Column.Title;    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cindex = 1;
}



<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row" style="padding-top:10px;">
                    <div class="col-md-8">
                        @foreach (var child in Model.Children)
                        {
                            <table class="table table-hover table-article">
                                <thead>
                                    <tr>
                                        <th style="font-size:18px;">
                                            <i class="fa fa-bars" style="font-size:16px;"></i>&nbsp; @child.Title
                                        </th>
                                        <th style="width:40px;">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th colspan="2"><i class="fa fa-arrow-circle-o-right"></i>&nbsp;<a href="/Column/@child.Id">更多</a></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in child.Articles.OrderByDescending(r => r.PublishDate).Take(5))
                                    {
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right"></span> <a href="@Url.Action("Index", new { controller = "Article", id = item.Id })">@item.Title</a>
                                            </td>
                                            <td class="text-right">
                                                @item.PublishDate.ToDateString()
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <hr />
                        }

                    </div>

                    <div class="col-md-4 blog-sidebar">
                        @if (Model.Column.IsAuth)
                        {
                            @Html.Action("Info", "Account")
                        }

                        <div class="side-content">
                            <div id="sibling-column">
                                <h3 class="block font-blue-hoki"><i class="fa fa-ticket" style="font-size:20px;"></i>&nbsp;@Model.Column.Title</h3>
                                <hr />
                                <ul class="nav nav-pills nav-stacked">
                                    @foreach (var item in Model.Children)
                                    {
                                        <li @(item.Id == Model.Column.Id ? "class=active" : "")>
                                            <a href="/Column/@item.Id">
                                                <span class="badge badge-success"> @(cindex++) </span> @item.Title
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            nestor.topNavActive('@Model.Column.Id');
        });
    </script>
}