@model Nestor.UI.Models.GeneralColumnModel

@{
    ViewBag.Title = Model.Column.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="breadcrumb">
    <li><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">主页</a></li>
    @if (Model.Parent != null)
    {
        <li><a href="/Column/@Model.Parent.Id">@Model.Parent.Title</a></li>
    }
    <li class="active">@Model.Column.Title</li>
</ul>

<div class="row margin-bottom-40">
    <div class="col-md-12">
        <div class="content-page" id="column-content">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-hover table-article" id="article-table">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-bars" style="font-size:16px;"></i>&nbsp; @Model.Column.Title
                                </th>
                                <th style="width:40px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Articles)
                            {
                                <tr>
                                    <td>
                                        <span class="fa fa-angle-double-right"></span> <a href="@Url.Action("Index", new { controller = "Article", id = item.Id })">@item.Title</a>
                                    </td>
                                    <td class="text-right">
                                        @item.PublishDate.ToDateString()
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4 blog-sidebar">
                    @if (Model.Sibling.Count != 0)
                    {
                        <div id="sibling-column">
                            <h2 class="font-blue-hoki">@Model.Parent.Title</h2>
                            <ul class="nav sidebar-categories margin-bottom-40">
                                @foreach (var item in Model.Sibling)
                                {
                                    <li @(item.Id == Model.Column.Id ? "class=active" : "")>
                                        <a href="/Column/@item.Id">
                                            @item.Title
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    @Html.Action("Recommend", new { controller = "Article", count = 10 })
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            nestor.topNavActive('@Model.Column.Id');
            nestor.initFrontTable($('#article-table'));
        });
    </script>
}

