@model Nestor.UI.Models.GeneralColumnModel

@{
    ViewBag.Title = Model.Column.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sb_nav fl">
    <div class="sb_nav-top position">
        <h3 class='sb_nav-title'><span>@Model.Parent.Title</span></h3>
        <div class="sb_nav-nr" id="sidebar" data-csnow="1" data-class3="0" data-jsok="2">
            @foreach (var item in Model.Sibling)
            {
                <dl class="list-none navnow"><dt id='part2_8'><a href='@Url.Action("Index", new { controller = "Column", id = item.Id })' class="zm"><span>@item.Title</span></a></dt></dl>
            }
            <div class="clear"></div>
        </div>
    </div>
    <div class="celer"></div>
    <div class="sb_nav-bot"></div>

    <div class="sb_us-top"></div>
    <div class="sb_us-cen">
        <div class="sb_us-wb editor">
            信息与控制实验教学中心<br />
            地&nbsp; 址：无锡市蠡湖大道1800号<br />
            邮&nbsp; 编：214122<br />
            电&nbsp; 话：0510-85910633<br />
            传&nbsp; 真：0510-85910631<br />
            Email：xkxy@jiangnan.edu.cn　<br /><div class="clear"></div>
        </div>
    </div>
    <div class="sb_us-pot"></div>
</div>


<div class="sb_box fr">
    <div class="sb_box-box position">
        <h3 class="sb_box-title">
            <div class="sb_box-wz fr position">当前位置：<a href="#">@Model.Parent.Title</a> &gt; <a href="#">@Model.Column.Title</a>&nbsp;</div>
            <span>@Model.Column.Title</span>
        </h3>
    </div>
    <div class="clear"></div>

    <div class="active" id="newslist">
        <ul class='list-none metlist'>
            @foreach (var item in Model.Articles)
            {
            <li class="list top">
                <span>@item.PublishDate.ToDateString()</span><a href="@Url.Action("Index", new { controller = "Article", id = item.Id })">@item.Title</a>
            </li>
            }
        </ul>

        <br />
        <TABLE align=center border=0 cellPadding=0 width=100% cellspacing=0 height=20>
            <TR height="30">
                <TD>
                    &nbsp;&nbsp;<font color=#888888>
                        共 @Model.TotalCount 条，当前第 @Model.CurrentPage / @Model.TotalPage 页
                    </font>
                </TD>
                <TD align=right>
                    <a href="@Url.Action("Index", new { controller = "Column", id = Model.Column.Id, page = 1 })">[首页]</a>&nbsp;
                    @if (Model.CurrentPage > 1)
                    {
                    <a href="@Url.Action("Index", new { controller = "Column", id = Model.Column.Id, page = Model.CurrentPage - 1 })">[上一页]</a>
                    }
                    &nbsp;
                    @if (Model.CurrentPage < Model.TotalPage)
                    {
                    <a href="@Url.Action("Index", new { controller = "Column", id = Model.Column.Id, page = Model.CurrentPage + 1 })">[下一页]</a>
                    }
                    &nbsp;
                    <a href="@Url.Action("Index", new { controller = "Column", id = Model.Column.Id, page = Model.TotalPage })">[尾页]</a>
                   
                </TD>
            </TR>
        </TABLE>

    </div>

</div>

