@{
    Layout = null;
}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="heading">
                <h3 class="uppercase">后台管理</h3>
            </li>
            <li class="start left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-cubes"></i>
                    <span class="title">栏目管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("List", "Column")" id="column-list">
                            栏目列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Column")" id="column-create">
                            添加栏目
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span class="title">文章管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("List", "Article")" id="article-list">
                            文章列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Article")" id="article-create">
                            添加文章
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">用户管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("List", "User")" id="user-list">
                            用户列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "User")" id="user-create">
                            添加用户
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Logout", new { controller = "Account", area = "" })">
                    <i class="fa fa-power-off"></i>
                    <span class="title">退出</span>
                </a>
            </li>
            <li class="last ">
                <a href="@Url.Action("Index", new { controller = "Home", area = ""})" target="_blank">
                    <i class="fa fa-arrow-left"></i>
                    <span class="title">回到主页</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->