@model Nestor.Models.Entities.Article

@{
    ViewBag.Title = "编辑文章";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">后台管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">文章管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>&nbsp;编辑文章
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>文章信息</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Status)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ColumnId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ColumnId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ColumnId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PublishDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.PublishDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MainContent, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                <textarea id="MainContent" name="MainContent" style="height:300px;width:100%;">@HttpUtility.HtmlDecode(Model.MainContent)</textarea>
                                @Html.ValidationMessageFor(model => model.MainContent, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;保存</button>
                                <a href="@Url.Action("List", new { controller = "Article" })" class="btn btn-default" role="button"><i class="fa fa-reply"></i>&nbsp;取消</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section styles {
    <link href="~/assets/global/plugins/kindeditor/themes/default/default.css" rel="stylesheet" type="text/css" />
}

@section scripts {
    <script charset="utf-8" src="~/assets/global/plugins/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="~/assets/global/plugins/kindeditor/lang/zh-CN.js"></script>
    <script type="text/javascript">
        $(function () {
            nestor.leftNavActive($('#article-list'));

            KindEditor.ready(function (K) {
                window.editor = K.create('#MainContent', {
                    uploadJson: '/Services/UploadJson.ashx',
                    fileManagerJson: '/Services/FileManagerJson.ashx',
                    allowFileManager: true
                });
            });

            nestor.initDatepicker($('#PublishDate'));
            $('#PublishDate').datepicker('setDate', new Date('@Model.PublishDate'));
        });
    </script>
}