@model IEnumerable<Nestor.Models.Entities.Column>

@{
    Layout = null;
}

 <!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">
        <!-- BEGIN HEADER SEARCH BOX -->
        <form class="search-form" action="#" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </form>

        <!-- END HEADER SEARCH BOX -->
        <div class="hor-menu ">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index", "Home")">主页</a>
                </li>
                @foreach (var column in Model)
                {
                    if (column.ChildrenColumns.Count == 0)
                    {
                        <li data-id="@column.Id">
                            <a href="@Url.Action("Index", new { controller = "Column", id = column.Id })">@column.Title</a>
                        </li>
                    }
                    else
                    {
                        <li data-id="@column.Id" class="menu-dropdown classic-menu-dropdown">
                            <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="@Url.Action("Index", new { controller = "Column", id = column.Id })" class="dropdown-toggle">
                                @column.Title <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                @foreach (var item in column.ChildrenColumns)
                                {
                                    <li data-id="@item.Id">
                                        <a href="@Url.Action("Index", new { controller = "Column", id = item.Id })">@item.Title</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->

