@model IEnumerable<Nestor.Models.Entities.Column>

@{
    Layout = null;
}

<UL class="list-none">
    <LI style="width: 116px;" id="nav_10001" class="navdown"><A class="nav" title="首页" href="index.asp"><SPAN>首页</SPAN></A></LI>
    <LI class="nav-line"></LI>
    <LI style="width: 116px;" id="nav_1">
        <A class="hover-none nav" title="中心概况" href="#"><SPAN>中心概况</SPAN></A>
        <DL>
            <DD><A title="中心介绍" href="introduce.asp">中心介绍</A></DD>
            <DD><A title="成员介绍" href="teacher.asp">成员介绍</A></DD>
        </DL>
    </LI>
    <LI class="nav-line"></LI>
    <LI style="width: 116px;" id="nav_2">
        <A class="hover-none nav" title="实验教学" href="#"><SPAN>实验教学</SPAN></A>
        <DL>
            <DD><A title="实验方法" href="shiyan1.asp">实验方法</A></DD>
            <DD><A title="实验课程" href="shiyan2.asp">实验课程</A></DD>
            <DD><A title="实验课程" href="http://140.207.154.14:8088/sytu-dlves/" target="_blank">虚拟仿真实验</A></DD>
            <DD><A title="实验课程" href="shiyan5.asp">卓越计划</A></DD>
        </DL>
    </LI>
    <LI class="nav-line"></LI>
    <LI style="width: 115px;" id="nav_4">
        <A class="hover-none nav" title="实验环境" href="#"><SPAN>实验环境</SPAN></A>
        <DL>
            <DD><A title="电工电子实验中心" href="zhongxin1.asp">电工电子实验中心</A></DD>
            <DD><A title="物联网综训中心" href="zhongxin2.asp">物联网综训中心</A></DD>
            <DD><a href="http://202.195.144.141/creative/index.asp" target="_blank">大学生创新基地</a></DD>
        </DL>
    </LI>
    <LI class="nav-line"></LI>
    <LI style="width: 115px;" id="nav_28">
        <A class="hover-none nav" title="实验设备" href="#"><SPAN>实验设备</SPAN></A>
        <DL>
            <DD><A title="仪器设备" href="shebei1.asp">仪器设备</A></DD>
            <DD><A title="自制设备" href="shebei2.asp">自制设备</A></DD>
        </DL>
    </LI>
    <LI class="nav-line"></LI>
    <LI style="width: 115px;" id="nav_3">
        <A class="hover-none nav" title="成果展示" href="#"><SPAN>成果展示</SPAN></A>
        <DL>
            <DD><A title="教学成果" href="chengguojx.asp">教学成果</A></DD>
            <DD><A title="专业建设成果" href="chengguoky.asp">专业建设成果</A></DD>
            <DD><A title="学生获奖" href="chengguoxs.asp">学生获奖</A></DD>
            <DD><A title="创新项目" href="chengguocx.asp">创新项目</A></DD>
        </DL>
    </LI>
    <LI class="nav-line"></LI>
    <LI style="width: 115px;" id="nav_16">
        <A class="hover-none nav" title="规章制度" href="#"><SPAN>规章制度</SPAN></A>
        <DL>
            <DD><A title="学校制度" href="zhidu1.asp">学校制度</A></DD>
            <DD><A title="中心制度" href="zhidu2.asp">中心制度</A></DD>
        </DL>
    </LI>
    <LI class="nav-line"></LI>
    <LI style="width: 115px;" id="nav_5"><A class="hover-none nav" title="申报材料" href="file.asp"><SPAN>申报材料</SPAN></A></LI>
</UL>

 @*<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">
        <!-- BEGIN HEADER SEARCH BOX -->
        <form class="search-form" action="/search" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="t">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </form>

        <!-- END HEADER SEARCH BOX -->
        <div class="hor-menu ">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index", "Home")">主页</a>
                </li>
                @foreach (var column in Model)
                {
                    if (column.ChildrenColumns.Count == 0)
                    {
                        <li data-id="@column.Id">
                            <a href="@Url.Action("Index", new { controller = "Column", id = column.Id })">@column.Title</a>
                        </li>
                    }
                    else
                    {
                        <li data-id="@column.Id" class="menu-dropdown classic-menu-dropdown">
                            <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="@Url.Action("Index", new { controller = "Column", id = column.Id })" class="dropdown-toggle">
                                @column.Title <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                @foreach (var item in column.ChildrenColumns)
                                {
                                    <li data-id="@item.Id">
                                        <a href="@Url.Action("Index", new { controller = "Column", id = item.Id })">@item.Title</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->*@

