@model IEnumerable<Nestor.Models.Entities.Column>

@{
    Layout = null;
}

<UL class="list-none">
    <LI style="width: 116px;" id="nav_10001" class="navdown"><A class="nav" title="首页" href="/"><SPAN>首页</SPAN></A></LI>
    @foreach (var column in Model)
    {
        if (column.ChildrenColumns.Count == 0)
        {
            <LI class="nav-line"></LI>
            <LI style="width: 116px;" id="nav_1">
                <A class="hover-none nav" title="@column.Title" href="@Url.Action("Index", new { controller = "Column", id = column.Id })"><SPAN>@column.Title</SPAN></A>
            </LI>
        }
        else
        {
            <LI class="nav-line"></LI>
            <LI style="width: 116px;" id="nav_1">
                <A class="hover-none nav" title="@column.Title" href="#"><SPAN>@column.Title</SPAN></A>
                <DL>
                    @foreach (var item in column.ChildrenColumns)
                    {
                        <DD><A title="@item.Title" href="@Url.Action("Index", new { controller = "Column", id = item.Id })">@item.Title</A></DD>                        
                    }
                </DL>
            </LI>
        }
    }
</UL>

