<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cn" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cn" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>信息与控制实验教学中心 - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Global styles START -->
    <link href="~/Images/metinfo_ui.css" rel="stylesheet" type="text/css">
    <link href="~/Images/metinfo.css" rel="stylesheet" type="text/css">
    <!-- Global styles END -->
    <script src="~/Images/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="~/Images/metinfo_ui.js" type="text/javascript"></script>
    @RenderSection("styles", required: false)
</head>
<body>
    <!-- BEGIN HEADER -->
    <header>
        <div class="HER--top">
            <div class="HER--top-nav center width">
                <div class="clear"></div>
            </div>
        </div>
        <div class="HER--cen position">
            <div class="HER--cen-con width center position">
                <div class="logo fl" style="height: 110px;"><img src="~/images3/index_01.jpg" /></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="HER--bot">
            <NAV class="width center" style="width: 800px;">
                <ul class="list-none">
                    <li style="width: 116px;" id="nav_10001" class="navdown"><A class="nav" title="首页" href="/"><SPAN>基地首页</SPAN></A></li>
                    <li class="nav-line"></li>
                    <li style="width: 116px;" id="nav_1">
                        <a class="hover-none nav" title="" href="#"><span>基地概况</span></a>
                        <dl>
                            <dd><a title="" href="@Url.Action("Index", new { area = "Creative", controller = "Article", id = 6 })">基地简介</a></dd>
                            <dd><a title="" href="#">组织结构</a></dd>
                            <dd><a title="" href="#">服务机构</a></dd>
                        </dl>
                    </li>
                    <li class="nav-line"></li>
                    <li style="width: 116px;" id="nav_1">
                        <a class="hover-none nav" title="" href="#"><span>学生心得</span></a>
                        <dl>
                            <dd><a title="" href="@Url.Action("Index", new { area = "Creative", controller = "Column", id = 18 })">在研学生心得</a></dd>
                            <dd><a title="" href="#">毕业生感悟</a></dd>
                        </dl>
                    </li>
                    <li class="nav-line"></li>
                    <li style="width: 116px;" id="nav_1">
                        <a class="hover-none nav" title="" href="#"><span>基地导师</span></a>
                    </li>
                    <li class="nav-line"></li>
                    <li style="width: 116px;" id="nav_1">
                        <a class="hover-none nav" title="" href="#"><span>招新</span></a>
                        <dl>
                            <dd><a title="" href="#">招聘指导教师</a></dd>
                            <dd><a title="" href="#">创新基地招新</a></dd>
                        </dl>
                    </li>
                </ul>
            </NAV>
        </div>
    </header>
    <!-- END HEADER -->
    <!-- BEGIN PAGE CONTAINER -->
    <div class="sidebar width center">
        @RenderBody()
    </div>

    <div class="clear"></div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN FOOTER -->
    <FOOTER>
        <DIV class="width center">
            <DIV class="foot-text">
                <P>
                    江南大学信息与控制实验教学中心 2014 All Rights Reserved
                </P>
                <DIV id="metinfo_91mb_Powered"></DIV>
                <P></P>
            </DIV>
        </DIV>
    </FOOTER>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <![endif]-->
    <script src="~/Images/metinfo.js" type="text/javascript"></script>
    <script src="~/Images/fun.inc.js" type="text/javascript"></script>
    <!-- END CORE JAVASCRIPTS -->
    @RenderSection("scripts", required: false)
</body>
</html>
